<!-- ###LIST### -->
	<div class="tx-simpleshoutbox-list" id="tx-simpleshoutbox-list">
	<!-- ###MESSAGE### -->
		<div class="tx-simpleshoutbox-message">
			<div class="tx-simpleshoutbox-message-header">
				<span class="tx-simpleshoutbox-message-header-date">###DATETIME###</span>
				<div class="clear"></div>
			</div>
			<div class="tx-simpleshoutbox-message-content">###USERNAME###: ###MESSAGETEXT###</div>
		</div>
	<!-- ###MESSAGE### -->
	</div>
<!-- ###LIST### -->
<!-- ###FORM### -->
	<div class="tx-simpleshoutbox-form">
		<form name="tx-simpleshoutbox-pi1-form" method="post" enctype="multipart/form-data" action="###ACTION_LINK###" onsubmit="###JS_LINK###">
			<!-- <label for="tx-simpleshoutbox-pi1-form-message">###L_MESSAGE###:</label> -->
			<textarea name="tx_simpleshoutbox_pi1[message]" cols="30" class="tx-simpleshoutbox-form-text" id="tx-simpleshoutbox-pi1-form-message"></textarea>
			<div class="clear"></div>
			<input type="submit" name="tx_simpleshoutbox_pi1[submit]" value="###L_SUBMIT###" />
		</form>
	</div>
<!-- ###FORM### -->
